body{
    display: flexbox;
    justify-content: center;
    align-items: center;
    background-color: bisque;
     
}
.custom{
    background-image: url("/image/Hawwai.jpg");
    background-size: cover;
    flex-direction: column;
    text-align: center;
    color: antiquewhite;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5%;
    padding-bottom: 15%;

    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
}
.custom2{
    display: flex;
    justify-content: space-evenly;
    padding-left: 65%;
    background-color: rgb(156, 9, 21);
    border: 5px solid rgb(187, 185, 185);
    opacity: 0.8;
    border-radius: 5px;
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: antiquewhite;
}
.custom3{
    text-align: center;
    font-size: xxx-large;
    background-color: rgb(231, 132, 40);
    border: 5px solid rgb(187, 185, 185);
    opacity: 0.8;
    border-radius: 5px;
    margin-top: 0%;  
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: antiquewhite;
    margin-bottom: 0%;
}
img{
    border-radius: 5%;
    border: 2px solid rgb(110, 59, 8);
    margin-top: 10px;
}